<h2> Login </h2>
<p> Or <%= link_to 'Sign Up', sign_up_path %></p>
<%= form_with url: log_in_path do |form| %>
  <p><%= form.label :email %></p>
  <p><%= form.email_field :email, required: true %></p>
  <p><%= form.label :password %></p>
  <p><%= form.password_field :password, required: true %></p>
  <p><%= form.submit 'Login' %></p>
<% end %>
